<div class="content-main" ng-if="!ideas.access">
    <form>
        <span>Password</span>
        <input type="password" name="inputPwd" ng-model="ideas.pwd"></input>
        <input type="submit" ng-click="getAccess()"></input>
    </form>
</div>

<div class="content-main" ng-if="ideas.access">
    <div ng-repeat="item in ideas.items">
        <div class="idea-item">{{item.date}} - {{item.content}}</div>
    </div>

    <div class="add-item">
        <form>
            <div class="idea-label">New Idea</div>
            <textarea class="idea-textarea" ng-model="ideas.newIdea"></textarea>
            <div><input class="idea-submit" type="submit" ng-click="insertIdea()"></input></div>
        </form>
    </div>
</div>
