<div class="todo-list">
    <h1>My todo list</h1>

    <div class="todo-add">
        <input class="todo-input" ng-model="listItem"></input>
        <button class="todo-button" ng-click="addItem()">Add</button>
    </div>

    <button class="todo-change-status" ng-click="markAsDone()">Mark as Done</button>
    <button class="todo-remove-items" ng-click="removeDone()">Remove completed items</button>

    <div class="todo-items">
        <div ng-repeat="item in todoList" ng-if="!item.removed">
            <input ng-disabled="item.done" type="checkbox" ng-model="item.checked"></input>
            <span ng-class="{'status-pending': !item.done, 'status-done': item.done}">{{item.title}}</span>
        </div>
    </div>
</div>


