<div class="blog-title-wapper">
    <a href="#/">
        <i class="fa fa-smile-o fa-inverse"></i>
        <span class="blog-title-name">Yiting's Blog</span>
    </a>
</div>

<div class="navbarIcons">
  <a href="#/"><i class="fa fa-home fa-fw fa-2x"></i></a>
  <a href="https://github.com/yiting007" target="_blank"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
  <a href="https://www.linkedin.com/pub/yiting-li/59/319/910" target="_blank"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
  <a href="https://www.facebook.com/yiting.li.9849" target="_blank"><i class="fa fa-facebook-square fa-fw fa-2x"></i></a>
  <a href="mailto:yiting.star@gmail.com"><i class="fa fa-envelope-square fa-fw fa-2x"></i></a>
  <a href="#/about"><i class="fa fa-file-text-o fa-fw fa-2x"></i></a>
</div>
